APP_NAME=astro-ephemeris-service
APP_HOST=0.0.0.0
APP_PORT=8013
APP_LOG_LEVEL=INFO
SWEPH_EPHE_PATH=/opt/ephe
SWEPH_AUTO_DOWNLOAD=true
SWEPH_DOWNLOAD_TIMEOUT=120
SWEPH_DOWNLOAD_RETRIES=2
SWEPH_DOWNLOAD_BASE_URLS=https://www.astro.com/ftp/swisseph/ephe,https://github.com/aloistr/swisseph/raw/master/ephe

